@page "/"

@using BazyDanych.Components.Layout
@using BazyDanych.Data.Models
@using BazyDanych.Services
@layout MainLayout

<RequireLoggedIn />

<PageTitle>Bar Kinowy</PageTitle>

<h3>Bar Kinowy</h3>

@if (_options is not null)
{
    <div class="menu">
        @foreach (var option in _options)
        {
            <MenuButton OptionData="option"/>
        }
        
        @if (_options.Count % 2 != 0)
        {
            <div style="visibility: hidden">
                <MenuButton OptionData="MenuOption.Empty"/>
            </div>
        }
        
        <Button Color="ButtonColor.Secondary" Size="Size.Large" @onclick="ManageAccount">Ustawienia konta</Button>
        <Button Color="ButtonColor.Danger" Size="Size.Large" @onclick="Logout">Wyloguj się</Button>
    </div>
}

@inject UserService UserService
@inject RedirectManager RedirectManager
@inject MenuOptionsProvider OptionsProvider

@code {
    private void ManageAccount() => RedirectManager.RedirectTo("/Account");

    private void Logout() => UserService.Logout();

    private List<MenuOption>? _options;

    protected override void OnInitialized()
    {
        _options = OptionsProvider.GetOptions().ToList();
    }
}