@page "/"

@using BazyDanych.Components.Layout
@using BazyDanych.Services
@layout MainLayout

<h3>Turbo bar</h3>

<div class="menu">
    <Button Color="ButtonColor.Primary" Size="Size.Large">Edytuj menu</Button>
    <Button Color="ButtonColor.Primary" Size="Size.Large">Zamówienia i stan magazynu</Button>
    <Button Color="ButtonColor.Primary" Size="Size.Large">Zarządzaj pracownikami</Button>
    <Button Color="ButtonColor.Primary" Size="Size.Large">Ustawienia konta</Button>
    <Button Color="ButtonColor.Primary" Size="Size.Large">Raporty</Button>
    <Button Color="ButtonColor.Danger" Size="Size.Large" @onclick="Logout">Wyloguj się</Button>
</div>

@if (!UserService.IsAuthenticated)
{
    <RedirectToLogin />
}

@inject UserService UserService

@code {
    private void Logout()
    {
        UserService.Logout();
    }
}