@page "/Reports/Sales"
@using BazyDanych.Components.Layout
@using BazyDanych.Data.Models
@layout ReportLayout

<RequireLoggedIn RequiredPermissions="[PermissionsModel.Manager]"/>

<PageTitle>Raporty</PageTitle>

<h3>Raporty klientów</h3>

@code {
    
}