<ul class="nav nav-pills flex-row">
    <li class="nav-item px-1">
        <NavLink class="nav-link" href="/" Match="NavLinkMatch.Prefix">Powr贸t</NavLink>
    </li>
    <li class="nav-item px-1">
        <NavLink class="nav-link" href="/Reports" Match="NavLinkMatch.All">Zam贸wienia klient贸w</NavLink>
    </li>
    <li class="nav-item px-1">
        <NavLink class="nav-link" href="/Reports/Warehouse" Match="NavLinkMatch.All">Zam贸wienia do magazynu</NavLink>
    </li>
</ul>