@using BazyDanych.Data.Models
@if (Data is { IsNullOrEmpty: false })
{
    var statusMessageClass = Data.Type == StatusMessageType.Error ? "danger" : "success";
    <div class="alert alert-@statusMessageClass" role="alert">
        @Data
    </div>
}

@code {
    [Parameter]
    public StatusMessageData? Data { get; set; }
}